@font-face {
    font-family: 'custom';
    src: url('../font/ChakraPetch-SemiBold.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #1f2e3d;
    --color-2: #040404;
    --color-3: #091929;
    --color-4: #007cf8;
    --color-5: #cfcfcf;
}

body{
    background: #091929 !important;
}

a{
    color: var(--color-4);
    text-decoration: none;
}

.btn{
    border-radius: 35px;
    padding: 0.375rem 1.5rem;
    display: inline-block;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
}

.btn-bdg{
    background: var(--color-4);
}

.btn-bdg.disabled{
    background: var(--color-4) !important;
}

.btn-bdg:focus,
.btn-bdg:hover{
    background: var(--color-4);
}

.text-danger{
    color: #ff5c6c !important;
}

.card{
    background: #102c484f;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 16px 40px 0px #0000000a !important;
    color: #fff;
}

.form-group{
    margin-bottom: 1rem;
}

.form-control{
    border: 1px solid var(--color-1);
    border-radius: 1.25rem;
    box-shadow: 0 0 0 0;
    background-color: #123;
    color: #82b0db;
}

.form-select{
    background-color: #123;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 0;
    border: 1px solid var(--color-1);
    color: #82b0db;
}

.form-select:focus{
    -webkit-box-shadow: 0 0 0 0, 0 0 0.25rem 0rem rgb(234 106 18 / 15%);
    box-shadow: 0 0 0 0, 0 0 0.25rem 0rem rgb(234 106 18 / 15%);
}

.form-control:focus{
    color: #c5c5c5;
    background-color: #123;
    -webkit-box-shadow: 0 0 0 0, 0 0 0.25rem 0rem rgb(234 106 18 / 15%);
    box-shadow: 0 0 0 0, 0 0 0.25rem 0rem rgb(234 106 18 / 15%);
}

.dash-card{
    background: #102c484f !important;
}

.single-dashboard-element{
    position: relative;
}

.single-dashboard-element .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #44a5fc2e;
    border-radius: 50%;
}

.single-dashboard-element .type{
    margin-top: 15px;
    opacity: .5;
}

.single-dashboard-element .amount{
    margin: 0;
    margin-top: 5px;
    font-size: 2rem;
}

.btn-get-started{
    padding: 0.5em 1.5em;
    color: #fff;
    background-color: var(--color-4);
    background: linear-gradient(#027ffb, #006bff);
    border: none;
    outline: none;
    box-shadow: 0 0 1.5em 0 #0062dbbe;
    border-radius: 35px;
}

.btn-get-started:hover{
    color: #fff;
}

.btn-get-started:focus{
    border: none;
    outline: none;
}

.brand-logo {
    font-family: 'custom', sans-serif;
}

.brand-logo.home{
    font-size: 1.5rem;
}

.brand-logo i{
    color: #44a5fc;
}

#banner h3{
    font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
    #banner h3{
        font-size: 2rem;
    }

    #banner p{
        font-size: 13px;
    }
}

#banner p{
    color: #798999;
    line-height: 1.1;
}

.bdg-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #091929;
    color: #ffffff;
}

.bdg-navbar .user{
    align-self: flex-end;
}

.bdg-navbar .user .name{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}

.bdg-navbar .user .username{
    margin: 0;
    font-size: 14px;
    color: var(--color-4);
    text-align: right;
}

.avatar{
    height: 40px;
    width: 40px;
    min-width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    /* -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem; */
}

.dropdown .dropdown-menu[data-bs-popper]{
    /* top: 110%; */
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom{
    0%{
        opacity:0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0)
    }
    to
    {
        opacity:1;
        -webkit-transform:translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes fade-in-bottom
{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,50%,0);
        transform:translate3d(0,50%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}

.blob{
    width: 200px;
    height: 200px;
    position: fixed;
    top: -50px;
    right: -50px;
    background-color: #03233c2b;
    border-radius: 50%;
    z-index: -1;
    /* transform: translate(-150%, -150%); */
}

.blob2{
    width: 150px;
    height: 150px;
    position: fixed;
    left: -30px;
    bottom: -30px;
    border-radius: 50%;
    z-index: 1;
    background-color: #03233c2b;
    /* box-shadow: rgb(12 46 78) 0px 30px 90px; */
}

.blob2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 4%);
    border-radius: 50%;
    transition: all .5s ease;
    animation: pulse 1.5s infinite;
    z-index: -1;
}

.blob::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 4%);
    border-radius: 50%;
    transition: all .5s ease;
    animation: pulse 1.5s infinite;
    z-index: -1;
}

.steam{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.steam span{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(67 164 252);
    /* margin-top: -75px; */
    /* margin-left: 75px; */
    z-index: 0;
    opacity: 0;
}

.steam span:nth-of-type(1){
    animation: steam1 4s ease-out infinite;
}

.steam span:nth-of-type(3){
    animation: steam1 4s ease-out 1s infinite;
}

@keyframes steam1 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: .2;
    }
    100%{
        transform: translateY(-200px) translateX(-20px) scale(1);
        opacity: 0;
    }
}

.steam span:nth-of-type(2){
    animation: steam2 4s ease-out 0.5s infinite;
}

.steam span:nth-of-type(4){
    animation: steam2 4s ease-out 1.5s infinite;
}

@keyframes steam2 {
    0%{
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: .2;
    }
    100%{
        transform: translateY(-200px) translateX(20px) scale(1);
        opacity: 0;
    }
}

.add-bdg{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #007cf8;
    border-radius: 50%;
    color: #fff;
    z-index: 1;
}

.add-bdg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    transition: all .5s ease;
    animation: pulse 1.5s infinite;
    z-index: -1;
}

@keyframes pulse{
    from{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
    to{
        opacity: 0;
        transform: scale3d(2,2,2);
    }
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff0; 
    backdrop-filter: blur(10px);
}
  
.loader-bounnce {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loader-bounnce .bounce {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #0083ff;
    border-radius: 50%;
    animation: loader-bounce 1.5s 0.5s ease-out infinite;
}

.loader-bounnce .bounce:nth-child(1){
    left: -10px;
}

.loader-bounnce .bounce:nth-child(2){
    left: 20px;
    animation-delay: 0.1s;
}

.loader-bounnce .bounce:nth-child(3){
    left: 50px;
    animation-delay: 0.2s;
}
  
@-webkit-keyframes loader-bounce {
    0%, 50%, 100%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.6);
    }
    75%{
        transform: scale(1.4);
    }
}
  
@keyframes loader-bounce {
    0%, 50%, 100%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.6);
    }
    75%{
        transform: scale(1.4);
    }
}

.single-entry{
    position: relative;
    margin-bottom: 15px;
}

.single-entry .type .icon{
    height: 35px;
    width: 35px;
    background: #091928;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.single-entry .type .icon.income i{
    font-weight: 600;
    color: lime;
}

.single-entry .type .icon.expense i{
    font-weight: 600;
    color: red;
}

.single-entry .type .detail h6{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.single-entry .type .category{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #102c48;
    padding: 5px;
    font-weight: 400;
    margin-right: 5px;
}

.single-entry .type .date{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-entry .action i{
    color: red;
    cursor: pointer;
    margin-right: 10px;
}

.incomeEntries, .expenseEntries{
    position: relative;
    max-height: 200px;
    overflow: auto;
}

.modal-content{
    background: #091929;
    border: none;
    color: #fff;
}

.modal-header{
    border-bottom: 1px solid #112233;
}

.modal-header .btn-close{
    filter: invert(1);
}

.modal-body .form-control{
    background: #123;
}

.modal-footer{
    border-top: 1px solid #112233;
}

.modal-footer .btn{
    padding: 0.3em 1.5em;
    line-height: 1.5;
}

.dropdown-menu{
    background-color: #091928;
    color: #007fff;
}

.dropdown-item{
    color: #a9a9a9;
}

.emtptyData{
    height: 50px;
    filter: invert(1);
}